#meeting-detail-box {
    text-align: left;
}

#meeting-detail {
    list-style: none;
    margin-left: 0;
}

#meeting-detail li {
    font-size: 1.4em;
}

#need-list{
    font-size: 0.7em;
}

#needHotel-label {
    display: block;
}

#ParticipateTime-label {
    display: none;
}

.qrcode-box {
    width: 100%;
    text-align: center;
}

#qrcode {
    width: 20%;
}


